@using Entity.SmartSchool
@model Entity.SmartSchool.HolidaysDto

<div class="right_col" role="main" style="min-height: 1160px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Student</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i>&nbsp;Add Holiday</button>
                        </div>
                        <div class="ln_solid"></div>
        

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div class="x_title">
                                            <h2>Holidays <small></small></h2>

                                            <div class="clearfix"></div>
                                        </div>

                                        <table id="holidaysTable" class="table table-bordered" role="grid" aria-describedby="datatable_info">
                                            @*<thead>
                                                <tr role="row">
                                                    <th>From Date</th>
                                                    <th>To Date </th>
                                                    <th>Holiday </th>       
                                                    <th>Action </th>                                                 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row" class="odd">
                                                    <td class="sorting_1">2017-10-10</td>
                                                    <td>2017-10-10</td>
                                                    <td>Holi</td>
                                                    <td>
                                                        <i title="view" class="fa fa-eye btn btn-dark" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
                                                        &nbsp;<i title="edit" class="fa fa-pencil btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
                                                        &nbsp;<i title="edit" class="fa fa-close btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
                                                    </td>
                                                </tr>
                                            </tbody>*@
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Add Division</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("", "", new AjaxOptions { HttpMethod = "POST" }, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="form-group item">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">From Date</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group date" id="fromDate">
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", placeholder = "From Date", @readonly = "readonly" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "alert" })
                    </div>
                    <div class="form-group item">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">To Date</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group date" id="toDate">
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", placeholder = "To Date", @readonly = "readonly" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "alert" })
                    </div>
                    <div class="form-group item">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Holiday</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.Festival, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Holiday" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Festival, "", new { @class = "alert" })
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-2">
                            <button type="button" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#fromDate').datetimepicker({
            format: 'DD.MM.YYYY',
            ignoreReadonly: true,
            allowInputToggle: true
        });
        $('#toDate').datetimepicker({
            format: 'DD.MM.YYYY',
            ignoreReadonly: true,
            allowInputToggle: true
        });
    </script>
<script src="~/Scripts/CustomJs/ClassRoom.js"></script>
}