@using Entity.SmartSchool
@model List<ClassAttendanceDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .attendance-present {
        background-color: #169F85;
    }

    .attendance-absent {
        background-color: #d9534f;
    }

    .attendance-infromed {
        background-color: #ec971f;
    }
</style>


<div class="right_col" role="main" style="min-height: 1160px;">

    <form class="form-horizontal form-label-left input_mask">
        <div class="form-group col-sm-4 col-xs-12">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Class</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <select class="form-control">
                    <option>Choose class</option>
                    <option>Class V</option>
                    <option>Class VI</option>
                    <option>Class VII</option>
                    <option>Class VIII</option>
                    <option>Class IX</option>
                    <option>Class X</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Division</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="input-group date" id="fromDate">
                    <input type="text" class="form-control" placeholder="From Date" readonly="readonly">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <button type="button" onclick="SubmitAttendance()" class="btn btn-sm btn-primary">&nbsp;Submit</button>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">

                    <div class="table-responsive">

                        <table id="ClassAttendanceTable" class="table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="2%"></th>
                                    <th width="10%">Photo</th>
                                    <th width="80%">Name</th>
                                    <th>Attendance</th>
                                </tr>
                            </thead>
                            <tbody>

                                @*<tr>
                                        <td style="background-color:#d9534f"></td>
                                        <td><img src="~/images/img.jpg" /></td>
                                        <td>@string.Format("{0},{1}", "1", "Shreedhar Deshwal")</td>
                                        <td><button type="button" class="btn btn-danger">Absent</button></td>
                                    </tr>*@

                                @foreach (var item in Model)
                                {
                                    string attendanceClass = string.Empty, attendanceClassBtn = string.Empty, btnText = string.Empty;
                                    switch (item.Attendence)
                                    {
                                        case 1: attendanceClass = "attendance-present"; attendanceClassBtn = "btn btn-success"; btnText = "Present"; break;
                                        case 2: attendanceClass = "attendance-absent"; attendanceClassBtn = "btn btn-danger"; btnText = "Absent"; break;
                                        case 3: attendanceClass = "attendance-infromed"; attendanceClassBtn = "btn btn-warning"; btnText = "Informed"; break;
                                    }

                                    <tr class="student-information" data-studentid="@item.StudentId" data-attendeance="@item.Attendence">
                                        <td class="@attendanceClass"></td>
                                        <td><img src="@item.StudentImageURL" /></td>
                                        <td>@string.Format("{0},{1}", item.StudentId, item.FullName)</td>
                                        <td><button type="button" class="@attendanceClassBtn" onclick="ChangeAttendance(this);">@btnText</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#fromDate').datetimepicker({
            format: 'DD.MM.YYYY',
            ignoreReadonly: true,
            allowInputToggle: true
        });

        $('#example').DataTable({
            "searching": false,
            "scrollY": "480px",
            "scrollCollapse": true,
            "paging": false
        });

    });

    function SubmitAttendance() {
        var attendanceList = [];

        $(".student-information").each(function (index, element) {
            var tr = $(element);
            attendanceList.push({ StudentId: tr.data("studentid"), Attendence: Number(tr.data("attendeance")) });
        });

        $.ajax({
            method: "POST",
            async: false,
            url: "/Attendance/SubmitAttendance",
            data: { classAttendance: attendanceList },
            success: function (data) {
                if (data == true) {
                    alert("Attendance saved");
                }
            }
        });
    }

    function ChangeAttendance(current) {
        var $this = $(current);
        var tr = $this.closest("tr");
        var attendenceFlag = Number(tr.data("attendeance"));

        $this.removeClass("btn-success").removeClass("btn-danger").removeClass("btn-warning");
        tr.children().first().removeClass("attendance-present").removeClass("attendance-absent").removeClass("attendance-infromed");

        switch(attendenceFlag){
            case 1: tr.data("attendeance", "2"); tr.children().first().addClass("attendance-absent"); $this.addClass("btn-danger"); $this.text("Absent"); break;
            case 2: tr.data("attendeance", "3"); tr.children().first().addClass("attendance-infromed"); $this.addClass("btn-warning"); $this.text("Informed"); break;
            case 3: tr.data("attendeance", "1"); tr.children().first().addClass("attendance-present"); $this.addClass("btn-success"); $this.text("Present"); break;
        }
    }
</script>